[defaults]
inventory         = inventory/
remote_user       = root
private_key_file  = ~/.ssh/phantom-csm.pem
host_key_checking = False
roles_path        = roles/
stdout_callback   = default
result_format     = yaml
gathering         = smart

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
